@charset "utf-8";
body
{
	background-color: #D5FFAB;
	font-family: "华文楷体", "楷体", "方正楷体_GBK", SimSun-ExtB;
	font-size: 21px;
}

@font-face {
	font-family: "kai";
	font-weight:: normal;
	font-style: normal;
	src: url("fonts/simkai.ttf") format("truetype");
}

.SiteTitle
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 36px;
	color: #1E5F08;
}
.SiteTitle_red
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 36px;
	color: #881111;
}
.SiteTitle_Center
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 36px;
	color: #1E5F08;
	text-align: center;
}
.Title01
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 30px;
	color: #103104;
	text-decoration: none;
}
.MainText01
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 24px;
	color: #103104;
	text-decoration: none;
}
.MainText02
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 18px;
	color: #103104;
	text-decoration: none;
}
.MainText03
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 12px;
	color: #103104;
	text-decoration: none;
}
.TinyText
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 11px;
	color: #103104;
	text-decoration: none;
}
.bottom_align
{
	position: fixed;
	height: 80px;
	width: 100%;
	bottom: 0px;
	background-image: url(./images/bottom.jpg);
	background-repeat: repeat-x;
	overflow: hidden;
	visibility: visible;
	z-index: 5;
	left: 0px;
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	color: #060;
	line-height: 130px;
	font-weight: bold;
}
.bottom_align_small
{
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: 0px;
	background-image: url(images/bottom_small.jpg);
	background-repeat: repeat-x;
	overflow: hidden;
	visibility: visible;
	z-index: 5;
	left: 0px;
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	color: #060;
	line-height: 60px;
	font-weight: bold;
}
.bottom_align_relative
{
	position: fixed;
	height: 80px;
	width: 100%;
	bottom: 0px;
	background-image: url(./images/bottom.jpg);
	background-repeat: repeat-x;
	overflow: hidden;
	visibility: visible;
	z-index: 5;
	left: 0px;
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	color: #060;
	line-height: 130px;
	font-weight: bold;
}
.bottom_text
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 16px;
	color: #060;
	text-decoration: none;
	position: relative;
	bottom: 0px;
}
.top_align
{
	position: fixed;
	height: 80px;
	width: 100%;
	bottom: auto;
	background-image: url(images/top.jpg);
	background-repeat: repeat-x;
	overflow: hidden;
	visibility: visible;
	z-index: 5;
	top: 0px;
	left: 0px;
}
.top_align_small
{
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: auto;
	background-image: url(images/top_small.jpg);
	background-repeat: repeat-x;
	overflow: hidden;
	visibility: visible;
	z-index: 5;
	top: 0px;
	left: 0px;
}
/*
p
{
	text-indent: 2em; //em是相对单位，2em即现在一个字大小的两倍
}
*/
ruby
{
	ruby-position:before;
	ruby-align:distribute-letter;
}
.footer_text
{
	color: #333333;
	font-size:14px;
	text-decoration:none;
}
.maintext_small
{
	font-size: 16px;
	color: #000000;
	text-decoration:none;
}

.blacktext
{
	color: #000000;
	text-decoration:none;
}
.blacktext_small
{
	font-size:18px;
	color: #000000;
	text-decoration:none;
}
.blacktext_large
{
	font-size:26px;
	color: #000000;
	text-decoration:none;
}
.greentext_small
{
	font-size:18px;
	color: #008804;
	text-decoration:none;
}
.greentext_tiny
{
	font-size:12px;
	color: #008804;
	text-decoration:none;
}
.greentext
{
	color: #008804;
	text-decoration:none;
}
.greentext_large
{
	color: #008804;
	font-size:26px;
	text-decoration:none;
}
.greentext_huge
{
	color: #008804;
	font-size:36px;
	text-decoration:none;
}
.redtext_large
{
	color: #881111;
	font-size:26px;
	text-decoration:blink;
}
.redtext_huge
{
	color: #881111;
	font-size:36px;
	text-decoration:blink;
}
.redtext_small
{
	font-size:18px;
	color: #881111;
	text-decoration:none;
}
.redtext
{
	color: #881111;
	text-decoration:none;
}
a.black
{
	color: #000000;
	text-decoration:none;
}
a:hover.black
{
	color: #000000;
	text-decoration:underline;
}
a.black_large
{
	font-size: 26px;
	color: #000000;
	text-decoration:none;
}
a:hover.black_large
{
	font-size: 26px;
	color: #000000;
	text-decoration:underline;
}
a.green
{
	color: #008804;
	text-decoration:none;
}
a:hover.green
{
	color: #008804;
	text-decoration:underline;
}
a.green_large
{
	font-size: 26px;
	color: #008804;
	text-decoration:none;
}
a:hover.green_large
{
	font-size: 26px;
	color: #008804;
	text-decoration:underline;
}
a.green_huge
{
	font-size: 50px;
	color: #008804;
	text-decoration:none;
}
a:hover.green_huge
{
	font-size: 50px;
	color: #008804;
	text-decoration:underline;
}
a.green_small
{
	font-size: 14px;
	color: #008804;
	text-decoration:none;
}
a:hover.green_small
{
	font-size: 14px;
	color: #008804;
	text-decoration:underline;
}
a.blue
{
	color: #000488;
	text-decoration:none;
}
a:hover.blue
{
	color: #000488;
	text-decoration:underline;
}
a.blue_large
{
	font-size: 26px;
	color: #000488;
	text-decoration:none;
}
a:hover.blue_large
{
	font-size: 26px;
	color: #000488;
	text-decoration:underline;
}
a.blue_small
{
	font-size: 14px;
	color: #000488;
	text-decoration:none;
}
a:hover.blue_small
{
	font-size: 14px;
	color: #000488;
	text-decoration:underline;
}
a.blue_huge
{
	font-size: 50px;
	color: #000488;
	font-weight:bold;
	text-decoration:none;
}
a:hover.blue_huge
{
	font-size: 55px;
	color: #000488;
	text-decoration:underline;
}

a.red_huge
{
	font-size: 50px;
	color: #FF1111;
	font-weight:bold;
	text-decoration:none;
}
a:hover.red_huge
{
	font-size: 55px;
	color: #FF1111;
	text-decoration:underline;
}

a.red_more
{
	color: #FF1111;
	font-weight:bold;
	text-decoration:none;
}
a:hover.red_more
{
	color: #FF1111;
	text-decoration:underline;
}
a.red
{
	color: #881111;
	text-decoration:none;
}
a:hover.red
{
	color: #881111;
	text-decoration:underline;
}
a.red_small
{
	font-size: 16px;
	color: #881111;
	text-decoration:none;
}
a:hover.red_small
{
	font-size: 16px;
	color: #881111;
	text-decoration:underline;
}

a.title
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 36px;
	color: #1E5F08;
	text-decoration:none;
}
a:hover.title
{
	font-family: "方正楷体_GBK", "方正隶书_GBK", "方正黑体_GBK";
	font-size: 36px;
	color: #1E5F08;
	text-decoration:underline;
}

img.center {
	text-align: center;
}
select.upload
{
	font-size: 16px;
	font-weight: normal;
	color: #FFCC00;
	text-decoration: none;
	line-height: 18px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
	background-color: #000;
	border: thin solid #9F6000;
}
input.title_center
{
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
	text-align: center;
}
input.title
{
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 23px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
}
input.title_small
{
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 23px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
}
textarea.title_small
{
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 23px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
}

input.text_small
{
	font-size: 15px;
	color: #000000;
	text-decoration: none;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
}
input.submit
{
    width: 20em;
	height: 2em;
}
input.title_large
{
	font-size: 30px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
	height:50px;
}
input.upload
{
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	height:40px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
}
textarea.maintext
{
	font-size: 22px;
	font-weight: normal;
	text-decoration: none;
	line-height: 21px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
}
textarea.upload
{
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 21px;
	font-family: "楷体", "隶书", "新宋体", "宋体", "Arial Unicode MS";
	border: thin solid #9F6000;
	scrollbar-base-color: #000;
}